body {
    margin: 0;
    text-align: center;
    
    font-family: 'Merriweather', serif;  
    font-size: 2em;      
}

h1 {
    color:blueviolet;
    font-size: 5.625rem;
    line-height: 2;
    margin-top: 0;
    /* width: 10%; */
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive; 
}

h2 {
    color:blue;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: rgb(233, 25, 25)
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}  

 .middle-container{
  
}

.bottom-container{
  
} 
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align:left;
    line-height:2;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chilli-img{
    width: 25%;
}