body {
    background-color: rgb(200,250,200);
}

h1 {
    color: rgb(131, 18, 18);
}

h3 {
    color: rgb(34, 8, 94);
}

hr  {
    background-color: rgb(200,250,200); 
    border-style: none ;
    border-top-style: dotted;
    border-color: blue;
    border-width: 3px;
    
    /* height: 0px none none;  */
    
    width: 95%;
    /* width:100px  */
}
/* img {
height: 50px;
}  */
/* selector(who){(what)property:value(how);} */